<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Module</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Module</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let module of modules" button (click)="openPage(module)" details>
      {{module.moduleName}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="presentModal()"><ion-icon name="add-outline" slot="start"></ion-icon>Extra Module</ion-button>
  </ion-toolbar>
</ion-footer>







